<a href="https://colab.research.google.com/github/kim-spirit/aipython/blob/main/0510%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 데이터프레임을 생성한 후, 데이터프레임의 정보를 출력하시오
import pandas as pd
df = pd.read_excel('BoxOffice.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

In [ ]:
#대표국적별 영화 편수를 집계하시오,
df.value_counts('대표국적')

In [4]:
# 대표국적이 '영국'인 데이터를 출력하시오.
df[df['대표국적']=='영국']

,순위,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사
194,195,어바웃 타임,2013-12-05,25312684300,3449451,568,67267,영국,영국,유니버설픽쳐스인터내셔널 코리아(유)

In [5]:
#대표국적별 최상위 순위를 출력하시오.
df.groupby('대표국적')['순위'].min()

대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64