<a href="https://colab.research.google.com/github/kim-spirit/aipython/blob/main/20240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#6장_과제

score = []
while True:
  score_input = input("학생의 점수를 입력하세요.")
  if score_input.isdigit():
    score.append(int(score_input))
  else :
    break
print("입력 데이터 출력 : ", score)
print("합계 : ", sum(score))
print("인원수 : ", len(score))
print(" 평균 : ", sum(score)/len(score))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력 :  [90, 70, 30]
합계 :  190
인원수 :  3
 평균 :  63.333333333333336

In [ ]:
#입력값이 숫자인지 문자인지 판단하는 매소드
if score_input.isdigit():

In [3]:
# split
txt =  "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [7]:
#join
x= {'Python', 'Java', 'Ruby'}
w = '->'.join(x)
print(w)

Python->Java->Ruby

In [8]:
#list comprehension
number_list = [ x**2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [9]:
#list comprehension lab_1
num_list = [x for x in range(11) if x % 2 == 0]
print(num_list)

#list comprehension lab_2
citys = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
new_list = [city for city in citys if city.startswith("S")]
print(new_list)

[0, 2, 4, 6, 8, 10]
['Seoul', 'Shanghai']

In [12]:
#lambda&map lab_2 교수님 답안
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_nums = list(filter(lambda x: x % 2 = 0, nums))
print(odd_nums)
#ambda&map lab_2 처음에 내가 한 답
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_nums = list(filter(lambda x: x % 2 != 1, nums))
print(odd_nums)

[2, 4, 6, 8, 10]

In [19]:
#enumerate_1
langs = ['Python', 'Java', 'JavaScript']
newlst=[(idx, lang) for idx, lang in enumerate(langs)]
print(idx, lang)

#enumerate_2
langs = ['Python', 'Java', 'JavaScript']
newlst=[(idx, lang) for idx, lang in enumerate(langs, start=1)]
print(idx, lang)

NameError: name 'idx' is not defined

In [23]:
#lambda & map lap_3
def convert_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'
scores = [88, 92, 78, 60, 75, 95]
result = list(map(convert_to_grade, scores))
print(result)

['B', 'A', 'C', 'D', 'C', 'A']

In [24]:
# Filter lab_1(lambda 사용)

ages = [5, 12, 17, 18, 24, 32]
new_ages = list(filter(lambda x : x >= 18, ages))
print(new_ages)

# myFUNC 이용
def myFunc(x):
    if x < 18:
        return False
    else:
        return True
ages = [5, 12, 17, 18, 24, 32]
new_ages = list(filter(myFunc, ages))
print(new_ages)

[18, 24, 32]
[18, 24, 32]