<a href="https://colab.research.google.com/github/kim-spirit/aipython/blob/main/20240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#다음 리스트에서 "apple" 요소를 출력하시오
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

'apple'

In [3]:
#다음 리스트에서 마지막 요소를 출력하시오
numbers = [10, 20, 30, 40, 50]
numbers[4]

50

In [6]:
#다음 리스트에서 "banana" 요소를 "grape"로 변경하세요.
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
fruits.insert(1,"grape")
print(fruits)

['apple', 'grape', 'cherry']

In [7]:
#다음 리스트에서 30을 제거하세요
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [8]:
#다음 리스트의 길이를 출력하세요
numbers = [5, 10, 15, 20, 25]
print(len(numbers))

5

In [9]:
#다음 리스트의 모든 요소의 합을 계산하여 출력하세요
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [23]:
# 다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요
numbers = [1, 2, 3, 4, 5]
numbers = [x ** 2 for x in numbers]
print(numbers)

[1, 4, 9, 16, 25]

In [42]:
# 리스트에 제곱하기 교수님 답안
numbers = [1, 2, 3, 4, 5]
newlist = []
for num in numbers :
  newlist.append(num**2)
print(newlist)

[1, 4, 9, 16, 25]

In [10]:
#다음 리스트에서 "apple" 요소의 개수를 출력하세요.
fruits = ["apple", "banana", "cherry", "apple", "apple"]
print(fruits.count("apple"))

3

In [27]:
#반환값_1
def square(x) :
  return x ** 2

In [30]:
ret=square(7)
print(ret)

49

In [31]:
#반환값_2
def square(x) :
  result = x**2
  return result

In [32]:
print(square(6))

36

In [58]:
#함수 만들기
def square(numbers) :
  newlist = []
  for x in numbers:
    newlist.append(x**2)
  return newlist

In [59]:
new = square([1,2,3,4,5])
print(new)

[1, 4, 9, 16, 25]

In [66]:
def BMI(h,w):
  result = w / (h*0.01)**2
  return result

In [68]:
결과 = BMI(190,90)
print(결과)

24.93074792243767