<a href="https://colab.research.google.com/github/kim-spirit/aipython/blob/main/240405_AIPYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10
if a > 5:
  print("A는 5보다 크다")
print("프로그램 종료")

A는 5보다 크다
프로그램 종료

In [4]:
a=5
if a > 5:
  print("a는 5보다 크다")
elif a<=5 :
  print("a는 5 이하입니다.")

a는 5 이하입니다.

In [9]:
#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램
a = 10
if a %2 == 0 :
  print("a는 짝수입니다.")
elif a % 2 != 0 :
  print("a는 홀수입니다.")

a는 짝수입니다.

In [10]:
a = int(input())
if a %2 == 0 :
  print("a는 짝수입니다.")
elif a % 2 != 0 :
  print("a는 홀수입니다.")

5
a는 홀수입니다.

In [14]:
a=10
if a > 5:
  print("a는 5보다 크다")
elif a<5 :
  print("a는 5 이하입니다.")
else :
  print("a는 5이다.")

a는 5보다 크다

In [16]:
a= 10
b = 5
if a>5 :
  if b<10:
   print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [17]:
a= 10
b = 5
if a>5 and b<10 :
   print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [30]:
a = int(input())
if a >= 90 and a <= 100 :
  print("A")
elif a < 90 and a >= 80 :
 print("B")
elif a < 80 and a >= 70 :
 print("C")
elif a < 70 and a >= 60 :
 print("D")
else :
 print("F")

32
F

In [42]:
a = [1,2,3,4,5]
tot=0
for i in a :
     print(i)
     tot+= i
print(tot)

1
2
3
4
5
15

In [43]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [44]:
for i in range(1, 101, 2):
 print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [49]:
for i in range(1, 101):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [52]:
for i in range(5):
  if i%2==1:
    break
  print(i)

0

In [62]:
#1에서 10까지의 홀수끼리 더한 값과 짝수끼리 더한 값을 따로 구하기
짝수합 = 0
홀수합 = 0
for i in range(1,11):
  if i%2==0:
   짝수합+= i
  else :
   홀수합+= i
print(짝수합)
print(홀수합)

30
25

In [69]:
#하나의 숫자 n를 입력 받아서 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.
#1-n까지 반복
 #합을 계산
#합을 출력
n = int(input())
tot=0
for i in range(1, n+1) :
  tot+=i
print(tot)

10
55